<%- include("partials/header"); -%>


<div class="form-floating">
  <form method="get" action="/teacher">
    <button type="submit" class="btn btn-primary teacherbtn"><%= teacherButton %></button>
  </form>
</div>

<div class="form-floating">
  <form method="get" action="/student">
    <button type="submit" class="btn btn-primary studentbtn"><%= studentButton %></button>
  </form>
</div>

<%- include("partials/footer"); -%>
