<%- include("partials/header"); -%>

<h1><%= teachercontentt %></h1>
<h3>1. Using which language can a user request information from a database?
</h3>
<ul>a) Query b) Relational c) Structural d) Compiler</ul><br>
<h3>2. Student(ID, name, dept name, tot_cred)In this query which attributes form the primary key?</h3>
<ul>a) Name b) Dept c) Tot_cred d) ID</ul><br>
<h3>3. The_____ operation allows the combining of two relations by merging pairs of tuples, one fromeach relation, into a single tuple.</h3>
<ul>a) Select b) Join c) Union d) Intersection</ul><br>
<h3>4.  The  result  which  operation  contains  all  pairs  of  tuples  from  the  two  relations,  regardless  ofwhether their attribute values match</h3>
<ul>a) Join b) Cartesian product c) Intersection d) Set dierence</ul>

<%- include("partials/footer"); -%>
